<!-- <mat-toolbar color='primary'>Posts</mat-toolbar> -->
<!-- <app-post-create></app-post-create>
<app-post-details></app-post-details> -->
<!-- <div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/']"><mat-icon>add</mat-icon></a>
</div> -->
<div id='title' style="background-image: url(./assets/background-title.gif);">
 <marquee><p>Buddy Chat</p></marquee>

  <button mat-button [routerLink]="['/create']">Post Blog</button>
  <button mat-button [routerLink]="['/list']">Check Blog</button>
  <button mat-button [routerLink]="['/contactus']">Contact Us</button>
</div>
 


<!--<button mat-button color="primary" [matMenuTriggerFor]="menu">Posts Menu</button>
<mat-menu color="primary" #menu="matMenu">
  <button color="primary" mat-menu-item [routerLink]="['/create']">Create</button>
  <button color="primary"mat-menu-item [routerLink]="['/']">List</button>
</mat-menu> -->
  
 

<router-outlet></router-outlet>
